body {color:rgb(70, 53, 53);}           /* h2+p intercettato il primo p sotto h2*/
h1 {color:blue;}  

         h2 ~p {color: red;}       /*tutti i paragrafi dopo h2   */  
               
         span{color: aqua;}
        /* p> span{color: green;} */
        p span{color: green;}  /* tutti gli elementi span dipendenti da questa regola*/
        ul li  li{color: brown;} /* il LI contenuto nel Ul si colora*/


/* SELETTORE DI ATTRIBUTI*/
#mainTitle{color: aquamarine;}
 .mark{color: chocolate;}
 .btn{width: 100; font-size: 18px;padding: 8px; }
 .btn-primary{color: cornflowerblue;}